$button: rgb(227,172,0);
$textback: rgb(255,78,51);
$sectioncol: rgb(33, 35, 46);
$grad1: rgb(223,166,3);
$grad2: rgb(149,48,81);
$footsec: rgb(59,63,80);
$pcol: #ffffff;
$fontcont: 'Fresca', sans-serif;
$img: url(../img/m-h-night.jpg);