$button:rgb(105,153,0); 
$textback: rgb(20,160,199); 
$sectioncol: #ffffff;
$grad1: rgb(104, 152, 4);
$grad2:rgb(43, 89, 221);
$footsec: rgb(33, 35, 46);
$pcol: rgba(33, 35, 46, 0.8);
$fontcont: 'Hind', sans-serif;
$img: url(../img/m-h-day.jpg);